// CSS Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微軟雅黑', Arial, sans-serif;
  font-size: $font-size-base;
  line-height: 1.6;
  color: #303133;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary-color;
  text-decoration: none;
  
  &:hover {
    opacity: 0.8;
  }
}

ul,
ol {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}